body {
    margin-left: 2px;
    background-color: antiquewhite;
}

hr {
    border-top: 2px solid #111;
}
.h1 {
    color: brown;
    border-bottom: 1px solid red;
}

img {
    margin: auto;
}

a {
    color: rgb(108, 189, 119);
}

p {
    font-size: 13pt;
}

h3 {
    color: white;
}

code {
    background-color: rgb(167, 167, 167);
    border-radius: 2em;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.2s;
}
  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

button {
    border-radius: 2em;
    color: darkgreen;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
  
button span:after {
    content: '\00AB';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -6px;
    transition: 0.4s;
}
  
button:hover span {
    padding-left: 10px;
}
  
button:hover span:after {
    opacity: 1;
    left: 0;
}
  
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}